[submodule "ViciServer/Assets"]
	path = ViciServer/Assets
	url = https://github.com/nikovacs/ViciDefaultAssets.git
[submodule "RmlUi"]
	path = RmlUi
	url = https://github.com/mikke89/RmlUi.git
	branch = 55d18ed01683a317fa6ef641e337d534ef95d482
[submodule "v8pp"]
	path = v8pp
	url = https://github.com/nikovacs/v8pp.git
	branch = 06MAR2024
[submodule "third_party/XPlatCppSdk"]
	path = third_party/XPlatCppSdk
	url = https://github.com/PlayFab/XPlatCppSdk.git
[submodule "third_party/gottanis-cpp-runtime"]
	path = third_party/gottanis-cpp-runtime
	url = https://github.com/visgotti/gottanis-cpp-runtime.git
