@spritesheet guiBackground {
    src: __vici_internal__guiBackground.png;
    bgOuter: 0px 0px 32px 32px;
    bgInner: 5px 10px 22px 14px;

    btnOutter: 32px 32px 32px 21px;
    btnInnter: 37px 33px 22px 16px;
}
 
 body {
    font-family: "Applestorm";
    font-size: 1vw;
    width: 100%;
    height: 100%;
    decorator: ninepatch( bgOuter, bgInner );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-gui {
    decorator: ninepatch( bgOuter, bgInner );
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    decorator: image( __vici_internal__vicionlinelogo.png contain );
    width: 50%;
    height: 15%;
    margin: 25px;
    justify-content: center;
}


.divider {
    height: 100%;
    width: 4px;
    border: 2px;
    border-radius: 4px;;
    border-color: black;
    background-color: black;
}

.login-methods {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    justify-content: space-evenly;
}

.login-type {
    width: 40%;

}

.classic-login {
    height: 100%;
    display: flex;
    flex-direction: column;
}

input {
    decorator: ninepatch( bgOuter, bgInner );
    font-size: 0.75vw;
    color: #838383;
    height: 3vh;
    padding-left: 10px;
    padding-top: 15px;
    cursor: text;
}

.text-field {
    display: flex;
    flex-direction: column;
}

.email-or-username {
    padding-top: 10%;
    padding-bottom: 10%;
}

.buttons {
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.75vw;
    align-items: center;
}

.button {
    decorator: ninepatch( btnOutter, btnInnter );
    font-size: 0.75vw;
    margin-bottom: 2vh;
    padding: 1vh;
    cursor: pointer;
}

.register-now,
.forgot-password {
    text-decoration: underline;
    cursor: pointer;
}